@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";


* {
    font-family: "Space Mono", monospace;
    box-sizing: border-box;
}


body {
    margin: 0;
    background: #050505;
    color: white;
}